/* Google stuff */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Standard styles */
:root {
    font-family: "Roboto", sans-serif;
    --grid-cols: 1;
    --grid-rows: 1;
    --mark-size: 200;
    --color-primary-light: rgb(225, 225, 225);
    --color-primary: rgb(175, 175, 175);
    --color-primary-dark: rgb(75, 75, 75);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-size: 18px;
}

button, select, option {
    cursor: pointer;
}

hr {
    width: 100%;
}

body {
    margin: 0;
}

/* Custom styles */
.view {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

#options {
    position: relative;
    display: grid;
    grid-template: 
    "title" 1.2rem
    "mode" 2.8rem
    "form-generate" calc(3*14px + 3*1.5rem + 2.8rem)
    "form-measure" calc(2*14px + 2*1.5rem + 2.8rem)
    "hide" 2rem
    "content" 1fr
    "log" auto
    "footer" auto;
    padding: 25px 0;
    row-gap: 15px;
    width: 100%;
    background-color: var(--color-primary-light);
    transition: grid-template-rows 75ms ease-in;
}

#options > *:first-child {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary-dark);
}

#options #hide {
    grid-area: hide;
    justify-self: center;
    width: 2rem;
    border: none;
    padding: 0;
    background-color: transparent;
    transform: rotate(-90deg);
    transition: transform 350ms linear;
    font-size: 2rem;
    color: var(--color-primary-dark);
}

#options #hide[data-toggled="1"] {
    transform: rotate(90deg);
}

#options:has(> #hide[data-toggled="1"]) {
    grid-template-rows: repeat(4, 0) auto;
}

#options:has(> #hide[data-toggled="1"]) > #mode,
#options:has(> #hide[data-toggled="1"]) > .form {
    display: none;
}

#options #mode {
    grid-area: mode;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--color-primary);
}

#options #mode #single,
#options #mode #grid,
#options #mode::before {
    width: 50%;
    z-index: 1;
    border: none;
    background-color: transparent;
    color: black;
    text-align: center;
    transition: color 100ms linear;
}

#options #mode #single[data-toggled="1"],
#options #mode #grid[data-toggled="1"] {
    color: white;
}

#options #mode::before {
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 0;
    background-color: var(--color-primary-dark);
    content: " ";
    transition: left 100ms linear;
}

#options #mode:has(> #single[data-toggled="0"])::before {
    left: 50%;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.form-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.form-box label:first-child {
    flex-grow: 2;
}

#options:has(#mode > #single[data-toggled="1"]) .form.generate .form-box:nth-child(4) {
    display: none;
}

#options:has(#mode > #single[data-toggled="0"]) .form.generate .form-box:nth-child(3) {
    display: none;
}

.form .input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc((1.5rem + 2px*2)*2);
    height: calc(1.5rem + 2px*2);
    padding: 2px;
    text-align: center;
}

.form.form.generate {
    grid-area: form-generate;
}

.form.form.measure {
    grid-area: form-measure;
}

.form.generate select.input {
    width: calc(250px + 2px*2);
    text-align: left;
}

.form.measure .input {
    width: 4rem;
}

#options #generate,
#options #measure {
    height: 2.8rem;
    border: none;
    background-color: var(--color-primary-dark);
    color: white;
}

#options #log {
    grid-area: log;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1rem);
    row-gap: 10px;
    padding: 0 10px;
}

#options #log :nth-child(2n) {
    text-align: right;
}

#options hr:last-of-type {
    margin-top: auto;
}

.content {
    --cell-size: calc((min(90vh, 100vw) - 10px*var(--grid-rows, int) - 20px)/var(--grid-rows, int));
    grid-area: content;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), var(--cell-size));
    grid-template-rows: repeat(var(--grid-rows), var(--cell-size));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5vh 10px;
    background-color: white;
}

#options:has(> #hide[data-toggled="1"]) + .content {
    --cell-size: calc((min(90vh, calc(100vw - 2rem + 40px)) - 10px*var(--grid-rows, int) - 20px)/var(--grid-rows, int));
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.hint {
    position: relative;
    display: inline-block;
    width: 1.35rem;
    height: 1.35rem;
    top: -5px;
    left: 5px;
    font-size: 0.9rem;
    border-radius: 50px;
    background-color: rgb(75, 75, 75);
    color: white;
    line-height: 1.35rem;
    font-weight: bold;
    text-align: center;
}

.hint-msg {
    position: absolute;
    display: none;
    width: 50vw;
    padding: 10px;
    box-shadow: 0 0 2.5px 1px black;
    border-radius: 5px;
    background-color: white;
    color: black;
    z-index: 99;
    font-weight: initial;
}

.hint:hover .hint-msg {
    display: block;
}

#options *:has(* .hint:hover) {
    overflow: visible;
}

#grid .hint-msg {
    left: -100%
}

#grid[data-toggled="1"] .hint,
#measure .hint {
    background-color: rgb(225, 225, 225);
    color: black;
}

#footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
}

/* Media rules */
.content[data-mobile="0"] {
    display: none;
}

@media only screen and (min-width: 768px) {
    .content[data-mobile="0"]  {
        --cell-size: calc((min(90vh, calc(100vw - 395px)) - 10px*var(--grid-rows, int) - 20px)/var(--grid-rows, int));
        display: grid; 
        width: 100%;
    }
    .content[data-mobile="1"]  {display: none; height: 0;}
    #options {
        grid-template:
        "hide" 2rem
        "title" auto 
        "mode" 2.8rem
        "form-generate" calc(3*14px + 3*1.5rem + 2.8rem)
        "form-measure" calc(2*14px + 2*1.5rem + 2.8rem)
        "log" 1fr
        "footer" auto;
        width: 375px;
        min-width: 375px;
        padding: 25px 10px;
    }
    #options #hide {justify-self: end; transform: rotate(-180deg);}
    #options #hide[data-toggled="1"] {transform: rotate(0);}
    #options:has(#hide[data-toggled="1"]) {
        position: fixed;
        grid-template-rows: 2rem repeat(9, 0);
        height: 100%;
        transform: translateX(calc(-355px + 2rem));
    }
    #options:has(#hide[data-toggled="1"]) > :first-child,
    #options:has(#hide[data-toggled="1"]) .content,
    #options:has(#hide[data-toggled="1"]) #log,
    #options:has(#hide[data-toggled="1"]) #footer {display: none;}  
    #options:has(#hide[data-toggled="1"]) + .content {margin-left: calc(20px + 2rem);}  
    .form-box{padding: 0;}
}
